<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container vh-100" id="main-container">
   <div class="d-flex flex-column align-items-center" id="second-container">
      <div class="container">
         <div class="text" *ngIf="listening == true" id="listening">
            <div class="alert alert-primary">
               <strong>Please recite your secrete passage now.</strong>
            </div>
         </div>
         <div class="text" *ngIf="authenticated == false">
            <div class="alert alert-danger">
               <strong>{{serverAlert}}&nbsp;</strong>{{serverResponse}}
             </div>
            <p id="textBox"> You Said: <strong>{{spokenText}}</strong></p>
         </div>
         <div class="text" *ngIf="authenticated == true">
            <div class="alert alert-success">
               <strong>Correct!</strong> Redirecting you now!
             </div>
            <p id="textBox"> You Said: <strong>{{spokenText}}</strong></p>
         </div>
         <video id="stream" #video class="vid" autoplay></video>
         <button class="btn btn-lg btn-circle btn-light button" (click)="listen()"><i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i></button>
      </div>
      <div class="p-1" id="picContainer" style="visibility: hidden;">
         <canvas id='picture' #canvas class="pic"></canvas>
      </div>
   </div>
</div>
